body {
    background-color: rgb(212, 130, 130);
    font-family: "Story Script", sans-serif;
}

footer {
    background-color: rgb(145, 10, 10);
    color: rgb(231, 74, 74);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartão{
    margin: 1rem 1rem;
    background-color: rgba(145, 10, 10, 0.74);
    height: 75rem;
    flex-grow: 1 0 calc(100% - 1rem);
    flex-basis: calc(33%- 6rem);
}

.cartão-conteudo {
    text-align: center;
    background-color: azure;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
e sobrevivência, onde um jogador assume o papel do Assassino e os outros quatro jogadores atuam como Sobreviventes. O objetivo dos Sobreviventes é escapar, enq
.cartão-conteudo h3{
    color: rgb(88, 50, 50);
    border: 1px ssolid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position:absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 3vw;
    backface-visibility: hidden;
}

:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #000000;
}

.cartão-conteudo_pergunta p {
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
align-items: center;

}

.cartão_conteudo_resposta p {
color: var(--card-back-color);
font-weight: 700;
margin-top: 4rem;
font-size: 2.2vw;
text-align: center;
align-items: center;
}

.cartão:hover .cartão-conteudo {
    transform: rotateY(180deg);
}

.cartão-conteudo_pergunta, .cartão-conteudo_resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
align-items: center;
}

.cartão-conteudo_resposta{
    transition: rotateY(180deg);
    background-color: #eeb1b4;
    border: 4px solid var(--card-back-color);
    text-align: center;
}

.cartão-conteudo p {
    margin: 1rem;
    padding: 2rem;
   margin-top: 4rem;
    font-size: 2.8vw;
}

@media (max-width: 560px){
    body{
        background: url();
    }
}