body {
    background-color: rgb(129, 127, 127);
    font-family: "Story Script", sans-serif;
}

footer {
    background-color: rgb(145, 10, 10);
    color: rgb(231, 74, 74);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}

.cartão- {
    margin: 1rem 1rem;
    background-color: rgba(145, 10, 10, 0.74);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%- 6rem);
}

.cartão-conteudo {
    text-align: center;
    background-color: azure;
    height: 100%;
}

.cartão-conteudo h3 {
    background-color: rgba(180, 0, 0, 0.733);
    color: rgb(180, 0, 0, 0.623);
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
    font-size: 1vw;
}